.reset-body {
  margin: 0 auto;
  width: 60%;
}

.reset-step {
  width: 100%;
  margin-top: 80px;
}

.reset-form {
  margin-top: 50px;
  width: 100%;
}

.step-one {
  margin-left: -50px;
}

.step2-menu {}

.step-nodata {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  height: 100px;
}